@use 'mixins' as *;

.content {
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introVagas {
  height: 90vh;
  margin-top: 80px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .texts {
    .titleVagas {
      font-weight: bold;
      font-size: 48px;
      text-align: center;
      padding-bottom: 4.6rem;
    }
    .descriptionVagas {
      font-weight: normal;
      font-size: 24px;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 4.6rem;
      max-width: 750px;
    }
  }
  .button {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background: var(--primary);
    border: 4px solid var(--primary);
    border-radius: 22px;
    box-shadow: 0px 0px 6px 1px #ffad1e;
    padding: 12px 38px;
    display: flex;
    justify-content: center;
    transition: linear 0.3s;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
    &:hover {
      box-shadow: 0px 0px 12px 2px #ffad1e;
      border: 4px solid var(--primary);
      transform: scale(1.1);
      background: transparent;
      color: var(--primary);
      text-shadow: 0px 0px 4px var(--primary);
    }
  }
}

.nossasVagas {
  background-color: var(--primary);
  padding: 102px;
  display: flex;
  flex-direction: column;
  .tittleNossasVagas {
    font-family: "roboto";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 100px;
    justify-items: center;
    margin-bottom: 40px;
    .itemNossasVagas {
      width: 14rem;
      height: 52px;
      border: 4px solid black;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 14px;
      background: transparent;
      cursor: pointer;
      color: black;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: linear 0.2s;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
  .buttonTalentos {
    margin: 0 auto;
    width: 14rem;
    height: 52px;
    border: 4px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 14px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: linear 0.2s;
    &:hover {
      border: 4px solid black;
      background: transparent;
      color: black;
    }
  }
}
.naPollux {
  background-color: white;
  padding: 102px 90px;
  .tittleNaPollux {
    font-family: "roboto";
    color: black;
    font-weight: bold;
    font-size: 52px;
    text-align: center;
    margin-bottom: 80px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 102px;
    column-gap: 100px;
    justify-items: center;
    margin-bottom: 40px;

    .itemNaPollux {
      font-family: "roboto";
      .titlleNaPollux {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 172px;
        text-align: center;
        margin: 0 auto 1rem;
        svg {
          color: var(--primary);
          height: 40px;
          width: 40px;
        }
        .categotiaNaPollux {
          margin-top: 1rem;
          color: var(--primary);
          text-transform: uppercase;
          font-weight: bold;
          font-size: 24px;
        }
      }
      .desciptionNaPollux {
        text-align: center;
        color: black;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}
.nossosBeneficios {
  padding: 102px 90px;
  .tittleNossosBeneficios {
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
    color: var(--primary);
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 64px;
    justify-items: center;
    margin-bottom: 40px;
    .itemNossosBeneficios {
      svg {
        color: var(--primary);
        width: 40px;
        height: 40px;
        display: flex;
        margin: auto;
      }
      .categotiaBeneficios {
        margin: 24px 0;
        text-align: center;
        font-size: 1.5rem;
        color: var(--primary);
        font-weight: bold;
      }
      .listaBeneficios {
        list-style: none;
        .itemLista {
          font-family: "roboto";
          font-size: 20px;
          font-weight: 500;
          color: white;
          margin-bottom: 1.2rem;
          letter-spacing: 1px;
          text-align: center;
          cursor: default;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}
.shadow {
  border: 0px solid #ffad1e;
  box-shadow: 0px 0px 4px 1px #ffad1e;
}

@media (max-width: 960px) {
  .introVagas {
    .texts {
      .titleVagas {
        font-size: 32px;
      }
      .descriptionVagas {
        font-size: 16px;
      }
    }
    .button {
      font-size: 1rem;
    }
  }

  .nossasVagas {
    padding: 102px 80px;
    .tittleNossasVagas {
      font-size: 3rem;
    }
    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 40px;
      column-gap: 32px;
      justify-items: center;
      margin-bottom: 40px;
    }
  }
  .naPollux {
    .tittleNaPollux {
      font-size: 40px;
    }
    .content {
      row-gap: 80px;
      column-gap: 48px;
    }
  }
  .nossosBeneficios {
    .tittleNossosBeneficios {
      font-size: 3rem;
    }
    .content {
      row-gap: 40px;
      column-gap: 40px;
      justify-items: center;
      margin-bottom: 40px;
      .itemNossosBeneficios {
        svg {
          color: var(--primary);
          width: 40px;
          height: 40px;
          display: flex;
          margin: auto;
        }
        .categotiaBeneficios {
          font-size: 1.2rem;
          min-height: 58px;
        }
        .listaBeneficios {
          .itemLista {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .introVagas {
    .texts {
      .titleVagas {
        font-size: 28px;
        padding-bottom: 4rem;
      }
      .descriptionVagas {
        font-size: 16px;
        width: 600px;
      }
    }
    .button {
      font-size: 14px;
    }
  }

  .nossasVagas {
    padding: 102px 80px;
    .tittleNossasVagas {
      font-size: 28px;
    }
    .content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .naPollux {
    .tittleNaPollux {
      font-size: 32px;
      margin-bottom: 64px;
    }
    .content {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 52px;
      column-gap: 48px;
    }
  }
  .nossosBeneficios {
    padding: 102px 40px;
    .tittleNossosBeneficios {
      font-size: 32px;
    }
    .content {
      row-gap: 40px;
      column-gap: 40px;
      justify-items: center;
      margin-bottom: 40px;
      .itemNossosBeneficios {
        svg {
          color: var(--primary);
          width: 40px;
          height: 40px;
          display: flex;
          margin: auto;
        }
        .categotiaBeneficios {
          font-size: 1.2rem;
          min-height: 58px;
        }
        .listaBeneficios {
          .itemLista {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .introVagas {
    .texts {
      .titleVagas {
        font-size: 26px;
        padding-bottom: 2.5rem;
      }
      .descriptionVagas {
        font-size: 16px;
        width: 80%;
        padding-bottom: 3rem;
      }
    }
    .button {
      font-size: 14px;
    }
  }

  .nossosBeneficios {
    .content {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 52px;
      .itemNossosBeneficios {
        svg {
          color: var(--primary);
          width: 40px;
          height: 40px;
          display: flex;
          margin: auto;
        }
        .categotiaBeneficios {
          font-size: 1.2rem;
          min-height: 58px;
          margin: 0;
        }
        .listaBeneficios {
          .itemLista {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .introVagas {
    margin-top: 0;
    .button {
      font-size: 12px;
    }
  }

  .nossasVagas {
    padding: 102px 80px;
    .tittleNossasVagas {
      font-size: 28px;
      margin-bottom: 64px;
    }
    .content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .naPollux {
    .tittleNaPollux {
      font-size: 28px;
      margin-bottom: 64px;
    }
    .content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .nossosBeneficios {
    .tittleNossosBeneficios {
      font-size: 28px;
    }
    .content {
      row-gap: 40px;
      column-gap: 40px;
      justify-items: center;
      margin-bottom: 40px;
      .itemNossosBeneficios {
        svg {
          color: var(--primary);
          width: 40px;
          height: 40px;
          display: flex;
          margin: auto;
        }
        .categotiaBeneficios {
          font-size: 1.2rem;
          min-height: 58px;
        }
        .listaBeneficios {
          .itemLista {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
