@use 'mixins' as *;

.container {
  @include container(2.5rem 3rem);
  @include flex(space-between, center);
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  max-height: 100px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 8px rgba(255, 173, 30, 0.24);
  cursor: pointer;
  .logo {
    width: 120px;
    object-fit: contain;
  }
}
